
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

* {font-family: 'Barlow Semi Condensed', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Playfair Display', serif;}

:hover {transition: .5s ease-in-out;}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*.form-control {*/
/*    border-radius: 50px;*/
/*}*/

.navbar.navbar-expand-lg {padding: 25px 0;}
.navbar-expand-lg .navbar-nav {padding: 0 10px;border-radius: 5px;}
.navbar-light .navbar-nav .nav-link {font-size: 16px;color: #fff;text-transform: uppercase;padding: 7px 15px;}
.navbar.navbar-expand-lg.scrolled .navbar-nav .nav-link {color: #1d3124;}
.navbar-expand-lg .navbar-nav .nav-item {margin:0 5px;}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link {color: #fff;background: #cc8b65;border-radius: 50px;}
.navbar.navbar-expand-lg.scrolled{background-color: rgba(186,206,193,.95);padding:7px 0;transition: .5s all}

#checkin_form {max-width: 400px;width: 100%;position: absolute;top: 24%;right: 9%;background:rgba(0,0,0,.6);border-bottom:8px solid #e27832;}
#checkin_form .form-inner {width: 100%;padding: 30px;padding-bottom: 20px;}
#checkin_form .form-inner h3 {font-size: 32px;font-weight: 600;text-align: center;margin-bottom: 20px;color: #e27832}
#checkin_form .form-inner .form-group {margin-bottom: 10px;}
#checkin_form .form-inner .btn-book {background: #e27832;color: #fff;text-transform: uppercase;margin-top: 15px;border-radius: 50px;}
#checkin_form .form-inner .btn-book:hover {background: #1d3124;}
#checkin_form .form-inner .form-control {border: 1px solid #b2b5b9;}

#about {width: 100%;padding: 70px 0;}
#about .about_box {width: 100%;padding: 30px;}
#about .about_box h1 {font-size: 35px;font-weight: 600;color: #e27832;margin:0;}
#about .about_box .sm-head {font-size: 23px;}
#about .about_box p {color: #696363;}


#facility_hm {width: 100%;background: url(../imgs/bg1.jpg) no-repeat 0 0/cover;padding: 70px 0;position: relative;background-attachment: fixed;}
#facility_hm .opacity {
	background-color: rgba(0,0,0,.5);
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
}
#facility_hm .inner_box {max-width: 800px;margin: auto;background: rgba(229,149,96,0.85);text-align: center;position: relative;padding: 30px;color: #fff;}
#facility_hm .inner_box h2 {font-size: 35px;font-weight: 600;}
#facility_hm .inner_box p {font-size: 20px;line-height: 26px;font-weight: 300;margin-bottom: 30px;}
#facility_hm .inner_box ul.list {width: 100%;display: inline-flex;justify-content: center;flex-flow: row wrap;list-style: none;margin:0;padding: 0;}
#facility_hm .inner_box ul.list li {flex-basis: 25%;flex: 1 1 25%;line-height: 30px;font-size: 17px;}


#rooms_hm {width: 100%;padding: 70px 0;background-color: #f2f2f2}
#rooms_hm h2 {font-size: 35px;font-weight: 600;color: #e27832;margin: 0;text-align: center;}
#rooms_hm p.sm-head {font-size: 19px;text-align: center;margin: 0 0 35px;}
#rooms_hm .room {width: 100%;margin-bottom: 30px;}
#rooms_hm .room .content {width: 100%;background: #fff;padding: 15px;}
#rooms_hm .room .content h3 {font-size: 18px;font-weight: 400;color: #e59560;margin: 0;font-family: 'Barlow Semi Condensed', sans-serif;}
#rooms_hm .room .content h3 span {font-size: 18px;color: #a1a5a2;font-weight: 500}
#rooms_hm .room .lg-box img {object-fit: cover;height: 418px;}
#rooms_hm .room .top {position: relative;}
#rooms_hm .room .top ul {
	align-items: center;
    background: rgba(204, 139, 101, 0.9);
    width: 42px;
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
#rooms_hm .room .top ul li {color:#fff;flex: 0 0 15%;border: 1px dotted rgba(0,0,0,.2);margin: 0 5px;font-size: 15px;text-align: center;color: #888;}
#rooms_hm .room .top ul.large li {flex: 0 0 9%}
#rooms_hm .room .top ul li i {color: #fff;}


#restaurant_hm {width: 100%;padding: 70px 0;}
#restaurant_hm .container {max-width: 900px;}
#restaurant_hm .container .content {padding: 35px;width: 100%;}
#restaurant_hm .container .content h3 {font-size: 35px;}
#restaurant_hm .container .content p {font-size: 18px;color: #7d7979;line-height: 28px;text-align: justify;}
#restaurant_hm .img_box {
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
}


footer {background-color: #bacec1;padding:20px 0;width: 100%;text-align: center;}
footer p, footer a {font-size: 1rem;color: #000;margin:0;}

#hotel_list_hm {width: 100%;background: #f2f2f2;padding: 70px 0;}
#hotel_list_hm h2 {font-size: 35px;font-weight: 600;color: #e27832;margin: 0;text-align: center;}
#hotel_list_hm p.sm-head {font-size: 19px;text-align: center;color: #696363;}


#hotelCarousel {
	margin: 50px auto;
	padding: 0 70px;
}
#hotelCarousel .carousel-item {height: 100%;min-height: 330px;text-align: center;overflow: hidden;}
#hotelCarousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
#hotelCarousel .carousel-item img {max-width: 100%;max-height: 100%;width: 100%;}
#hotelCarousel .carousel-item h4 {font-size: 18px;margin: 10px 0;}
#hotelCarousel .carousel-item .btn {
    color: #fff;
    border-radius: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    background: #cc8b65;
    border: 2px solid #9c5d38;
    padding: 10px 15px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 50px;
}
#hotelCarousel .carousel-item .btn:hover, #hotelCarousel .carousel-item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
#hotelCarousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
#hotelCarousel .thumb-wrapper {text-align: center;background-color: #fff;}
#hotelCarousel .thumb-content {
	padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
#hotelCarousel .item-price {
	font-size: 17px;
	padding: 2px 0;
}
#hotelCarousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
#hotelCarousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
#hotelCarousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}


/* [1] The container */
.img-hover-zoom {
   /*height: 300px; [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}


#title {width: 100%;background:url(../imgs/bg2.jpg) no-repeat 0 0/cover;min-height: 250px;}
#title h1 {font-size: 50px;color: #fff;font-weight: 700;text-align: center;padding-top: 110px;text-shadow: 1px 2px 4px rgba(0,0,0,.7);}

#search_bar_top {background: #e59560;padding: 40px 0;}
#search_bar_top button.btn.btn-book {background: #1d3124;color: #fff;border-radius: 50px;}

#search_bar_top .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    min-width: 210px;
    margin-right: 15px;
}


#listings {width: 100%;padding: 70px 0;}
#listings .inner_box {width: 100%;border: 1px solid #eae8e8;margin-bottom: 20px;}
#listings .inner_box .content {width: 100%;padding: 20px;position: relative}
#listings .inner_box .content h2 {font-size: 25px;margin-bottom: 0}
#listings .inner_box .content p {font-size: 17px;color: #8a8787;margin-bottom: 10px;}
#listings .inner_box .content ul.large {display: inline-flex;list-style: none;margin: 0;padding: 0;justify-content: flex-start;}
#listings .inner_box .content ul.large li {flex: 0 0 24%;text-align: center;border: 1px dotted #b1adad;margin: 0 2px;}
#listings .inner_box .content .price_box {
    position: absolute;
    right: 10px;
    bottom: 0px;
}
#listings .inner_box .content .price_box a.btn.btn-details {background: #1d3124;color: #fff;border-radius: 50px;font-size: 14px;padding: 5px 20px;}
#listings .inner_box .content .price_box button.btn.btn-details {background: #1d3124;color: #fff;border-radius: 50px;font-size: 14px;padding: 5px 20px;}
#listings .inner_box .content .price_box h3 {font-size: 25px;font-family: 'Barlow Semi Condensed', sans-serif;color: #000}
#listings .inner_box .content .price_box h3 i {font-size: 18px;}
#listings .inner_box .content .special_feat {
    display: inline-flex;
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    justify-content: flex-start;
    max-width: 400px;
    flex-flow: row wrap;
}
#listings .inner_box .content .special_feat li {
    font-size: 14px;
    color: #252323;
    flex: 0 0 31%;
    text-align: center;
    margin: 4px 2px;
}
#listings .inner_box .content .special_feat li i {color: #cc8b65;}


/*Listing Home page Hotels*/
#listings.light-grey {background: #f2f2f2;}
#listings.light-grey h2 {font-size: 30px;font-weight: 600;color: #cc8b65;margin: 0 0 20px;}
#listings .inner_box .img-box .starrat {
    position: absolute;
    top: 5%;
    background: #E59560;
    padding: 2px 6px;
    line-height: 22px;
    border: 3px solid #fff;
    border-left: none;
}
#listings.light-grey .inner_box {background: #fff;}
#listings .inner_box .img-box {position: relative;}
#listings .inner_box img {object-fit: cover;height: 270px;}


#h-details {width: 100%;padding: 70px 0;}
#h-details .inner_box {width: 100%;border: 1px solid #eae8e8;margin-bottom: 20px;padding: 25px;}
#h-details .inner_box .content {width: 100%;padding: 20px;}
#h-details .inner_box .content h2 {font-size: 25px;}
#h-details .inner_box .content p {font-size: 17px;color: #8a8787;}
#h-details .inner_box .content ul.large {display: inline-flex;list-style: none;margin: 0;padding: 0;justify-content: flex-start;}
#h-details .inner_box .content ul.large li {flex: 0 0 16%;text-align: center;border: 1px dotted #b1adad;margin: 0 2px;}
#h-details .inner_box .content .price_box {width: 100%;padding: 15px;background: #bacec1;}
#h-details .inner_box .content .price_box a.btn.btn-details {background: #1d3124;color: #fff;border-radius: 50px;font-size: 14px;padding: 5px 20px;}
#h-details .inner_box .content .price_box h3 {font-size: 25px;font-family: 'Barlow Semi Condensed', sans-serif}
#h-details .inner_box .content .price_box h3 i {font-size: 18px;}


#image-gallery li img {max-width: 100%;width: 100%;}

#tabsContent {width: 100%;padding: 30px;border: 1px solid #c3c0c0;border-radius: 4px;margin-top: 10px;}
#tabsContent h3 {font-size: 22px;font-weight: 600;color: #e59560;}
#tabsContent p {font-size: 16px;line-height: 27px;}
#tabsContent .room_det p.sm-txt {font-size: 13px;color: #f00;margin: 0;}
#tabsContent .room_det .room_facil li i {font-size: 14px;color: #cc8b65;}
#tabsContent .room_det .room_facil {display: inline-flex;max-width: 430px;flex-flow: row wrap;margin:0;padding: 0}
#tabsContent .room_det .room_facil li {margin:0 5px;font-size: 14px;line-height: 26px;}
#tabsContent .table-responsive table tr td:first-child,
#tabsContent .table-responsive table tr th:first-child {text-align: left;}
#tabsContent .table-responsive table tr td,
#tabsContent .table-responsive table tr th {text-align: center;}
#tabsContent .table-responsive table tr td i {font-size: 14px;color: #cc8b65;}
#tabsContent .table-responsive table tr td p {line-height: 24px;font-size: 15px;}
#tabsContent .table-responsive table tr td .btn-reserve {background: #cc8b65;color: #fff;}
.nav-pills .nav-link {font-size: 15px;text-transform: uppercase;background-color: #f3d7c5;color: #000}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {color: #fff;background-color: #e59560;}
.nav.nav-pills li.nav-item {margin-right: 5px;}
ul.list-inline.room_facil_mn {display: inline-flex;flex-flow: row wrap;}
ul.list-inline.room_facil_mn li {border: 1px dotted #b5b1b1;padding: 2px 10px;line-height: 24px;margin: 0 5px 10px 0;}
ul.list-inline.room_facil_mn li i {color: #cc8b65;}


#availability {width: 100%;}
#availability h2 {font-size: 30px;color: #e59560;}
#availability .inner {width: 100%;border: 2px solid #cac5c5;padding: 20px;margin-bottom: 30px;}
#availability .inner p {margin: 0;}
#availability .inner .box {background: #e8e7db;padding: 15px;min-height: 105px;}
#availability .inner .box h3 {line-height: 24px;margin: 0;}
#availability .inner .box h3 a {font-size: 21px;margin: 0;}
#availability .inner .box a.btn.btn-ch-search {font-size: 16px;background: #1d3124;color: #fff;}
#availability .inner .box.btbn {position: relative;}
#availability .inner .box.btbn a.btn.btn-ch-search {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}


#house_rule {width: 100%;padding: 70px 0;background: #f2f2f2;}
#house_rule h2 {font-size: 30px;color: #cc8b65;}
#house_rule .btns {text-align: right; margin-top: 15px;}
#house_rule .btns a.btn.btn-avail {background: #cc8b65;color: #fff;}
#house_rule .btns button.btn.btn-avail {
    background: #cc8b65;
    color: #fff;
}



.timebar {display: block;padding: 30px 0;}
.timebar__core {display: inline-block;vertical-align: top;position: relative;}
.timebar__base {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 16px;
    border: 1px solid #c2c2c2;
    background: #ededed;
    overflow: hidden;
    border-radius: 8px;
}
.timebar__bar {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #cc8b65;
}
.timebar__label {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    margin: 0 0 2px;
    text-align: center;
    font-size: 12px;
}
.timebar__caption {
    display: inline-block;
    position: absolute;
    top: 100%;
    margin: 7px 0 0;
    padding: 4px 10px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    background: #fff;
    color: #333;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}
.timebar__caption-pointer {position: absolute;bottom: 100%;left: 50%;}
.timebar__caption-pointer:before {
    border-color: rgba(194,194,194,0);
    border-bottom-color: #c2c2c2;
    border-width: 7px;
    margin-left: -7px;
}
.timebar__caption-pointer:after, .timebar__caption-pointer:before {
    position: absolute;
    bottom: 100%;
    left: 0;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    content: ' ';
}
.timebar__caption-pointer:after {
    border-color: rgba(255,255,255,0);
    border-bottom-color: #FFF;
    border-width: 6px;
    margin-left: -6px;
}


.log-regis-form {width: 100%;padding: 15px;background: #f2f2f2;margin-top: 10px;}
.log-regis-form h3 {font-size: 18px;font-weight: 700;color: #e59560;}
.log-regis-form button.btn.btn-login {padding: 5px 20px;background: #e27832;color: #fff;text-transform: uppercase;margin-top: 15px;border-radius: 50px;}
button.btn.btn-login {padding: 5px 20px;background: #e27832;color: #fff;text-transform: uppercase;margin-top: 15px;border-radius: 50px;}
.log-regis-form .form-group label {margin: 0;font-weight: 500;}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {color: #1d3124;background-color: #bacec1;border-color: #dee2e6 #dee2e6 #fff;}
.nav-tabs .nav-link {font-size: 16px;color: #000;}
#not_found {width: 100%;padding: 20px;text-align: center;max-width: 500px;margin: 45px auto;border: 1px solid #cec9c9;}
#not_found h3 {font-size: 30px;margin: 0 0 15px;}

#payment {width: 100%;padding: 60px 0;background-color: #f2f2f2}
#payment .pay_main {width: 100%;max-width: 600px;margin: auto;}
#payment h2 {font-size: 22px;text-align: center;color: #000;margin: 0 0 15px;padding: 0;}
#payment button.subscribe {background: #1d3124;}

.form-inline .form-group:last-child {
    flex: 0 0 100%;
    text-align: center;
    justify-content: center;
}

.form-inline .form-group {
    flex: 0 0 33%;
    text-align: center;
    margin-bottom: 10px;
}

@media only screen and (max-width:767px) {
    .form-inline .form-group {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width:575px) {
    .form-inline .form-group {
        flex: 0 0 100%;
    }
}


#thanks {width: 100%;padding: 70px 0;text-align: center;}
#thanks h3 {font-size: 30px;margin: 0 0 15px;}

