
.form-group {width: 100%;margin-bottom: 10px;}
#checkin_form {
    right: 10%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar.navbar-expand-lg {padding: 20px 10px;}
#about .about_box h1, #rooms_hm h2, #restaurant_hm .container .content h3,
#hotel_list_hm h2, #facility_hm .inner_box h2 {font-size: 25px;}
#about .about_box {padding: 30px 15px;}
#about .about_box .sm-head {font-size: 20px;}
#facility_hm .inner_box ul.list li {flex: 0 0 50%;flex-basis: 50%}
#restaurant_hm .col-md-6.order {order: 2}
.navbar.navbar-expand-lg button i  {color: #fff;font-size: 27px;} 
.navbar-light .navbar-toggler {border-color: #dcd8d8;}
.navbar.navbar-expand-lg.scrolled button i  {color: #000;font-size: 27px;} 
.navbar.navbar-expand-lg.scrolled .navbar-toggler {border-color: #807d7d;}
.navbar-expand-lg .navbar-nav {padding: 10px;border-radius: 5px;background: #464444;}
#listings .inner_box .content .price_box {margin-top: 15px;}
#title h1 {font-size: 30px;}
#availability .inner .box {margin-bottom: 15px;}
#house_rule p {margin-bottom: 5px;}
.nav-pills .nav-link {font-size: 13px;padding: .5rem 0.7rem;}
.nav.nav-pills li.nav-item {margin-bottom: 10px;}

@media only screen and (min-width: 576px) {
	#checkin_form .inner {padding: 20px;}
	#checkin_form .inner h3 {font-size: 30px;}
	#checkin_form .inner::after {clear: both;display: block;content: ''}
	#checkin_form .form-group {width: 49%;float: left;margin-right: 1%;}
	#checkin_form .form-group:last-child {width: 100%;}
	.form-inline .form-control {display: inline-block;width: 100%;vertical-align: middle;min-width: 210px;margin-right: 15px;}
	.form-group {width: 50%;margin-bottom: 10px !important;}
	#facility_hm .inner_box ul.list li {flex: 0 0 33%;flex-basis: 33%;}
}
@media only screen and (min-width: 768px) {
	#checkin_form .form-group {width: 100%;float: none;margin-right: 0;}
	#about .about_box h1, #rooms_hm h2, #restaurant_hm .container .content h3,
	#hotel_list_hm h2, #facility_hm .inner_box h2 {font-size: 30px;}
	#facility_hm .inner_box ul.list li {flex-basis: 25%;flex: 0 0 25%}
	#restaurant_hm .col-md-6.order {order: 0}
	#title h1 {font-size: 40px;}
	.nav-pills .nav-link {font-size: 15px;padding: .5rem 1rem;}
	.nav.nav-pills li.nav-item {margin-bottom: 0px;}
}
@media only screen and (min-width: 992px) {
	.form-group {width: inherit;margin-bottom: 10px !important;}
	#search_bar_top .form-inline .form-control {min-width: 183px;}
	#about .about_box h1, #rooms_hm h2, #restaurant_hm .container .content h3,
	#hotel_list_hm h2, #facility_hm .inner_box h2 {font-size: 35px;}
	#about .about_box .sm-head {font-size: 23px;}
	.navbar-expand-lg .navbar-nav {padding:0 10px;border-radius: 5px;background: none;}
	#title h1 {font-size: 50px;}
}