
header .container-fluid {padding: 0 15px;}
header .navbar-light .navbar-nav .nav-link:hover {background: none}
#addHotels {padding: 15px;}
.sidebar .sidebar-brand img {max-width: 100%;width: 100%;}
.navbar-light .navbar-nav {flex-direction: row;float: right;}
.navbar-collapse {flex-basis: auto;}
header .navbar-expand-lg .navbar-nav li.nav-item {margin: 0 3px;}
header .navbar-light .navbar-nav .nav-link {font-size: 13px;padding: 3px 10px;}
.breadcrumb {justify-content: flex-start;}


@media only screen and (min-width: 768px) {
	#addHotels {padding: 30px;}
	.sidebar .sidebar-brand img {max-width: 150px;width: 100%;}
}