
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap');

/** {font-family: 'Oswald', sans-serif;}*/

* {font-family: 'Titillium Web', sans-serif;}

:hover {transition: .3s ease-in-out all;}

body {background: #e4f4f8}

.title {width: 100%;padding: 30px 0;text-align: center;}
.title h1 {font-size: 2.3rem;font-weight: 600;margin: 0;}
.breadcrumb {background: none;text-align: center;justify-content: center;padding: 0;margin-bottom: 0}

header {background: #425c5a;margin-bottom: 25px;padding: 10px 0;}
header .container-fluid {padding: 0;}
header .navbar-brand {background: #425c5a;padding: 10px;}
header .navbar-brand img {max-width: 210px;}
header .navbar.navbar-light {padding: 0;}
header .navbar-light .navbar-nav .nav-link.addhtl {background: #ebb330;color: #fff;border-radius: 50px;}
header .navbar-light .navbar-nav .nav-link.addhtl:hover {color: #fff;}
header .navbar-light .navbar-nav .nav-link {font-size: 15px;line-height: 28px;text-transform: uppercase;color: #fff;padding: 5px 15px;font-weight: 600;}
header .navbar-light .navbar-nav .nav-link:hover {background: #ebb330;color: #fff;border-radius: 50px;}
header .navbar-expand-lg .navbar-nav li.nav-item {margin: 0 10px;}
header .navbar-nav .dropdown-menu {right: 0;left: inherit;}
header .navbar-nav .dropdown-menu .dropdown-item:hover {color: #fff;text-decoration: none;background-color: #ebb330;}
header .navbar-light .navbar-toggler {color: rgba(0,0,0,.5);border-color: #f2b81c;padding: 10px;}


#listings {width: 100%;background: #fff;}
#listings .table tr th,
#listings .table tr td {font-size: 0.9rem;text-align: center;vertical-align: middle;}
#listings .table tr td .pr_box {padding: 4px 7px;color: #fff;border-radius: 3px;font-size: 13px;}
#listings .table tr td .hot_img {max-width: 120px;height: 60px;}
#listings .table tr th {background: #dae6e5;}

#addHotels {width: 100%;padding: 30px;background: #fff;}

#searhbar {max-width: 500px;margin: 15px auto;}
#searhbar .btn-reset {color: #fff;background-color: #6c928f;border-color: #6c928f;}

.bg-gradient-primary {background-image: none;background-color: #425c5a;background-size: cover;}

.sidebar .sidebar-brand img {max-width: 170px;}
.sidebar-dark .sidebar-brand {color: #fff;padding: 5px;}

#searchForm {width: 100%;padding: 20px 20px 0;}

/* [1] The container */
.img-hover-zoom {
   /*height: 300px; [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}


/*Login Register Page*/

#register {width: 100%;padding: 50px 0 0;text-align: center;}
#register .register {max-width: 470px;background: #425c5a;padding: 20px;border: 1px solid #ccc5c5;margin: auto;}
#register .register h3 {color: #fff;margin-bottom: 20px;}
#register .register h3 {font-size: 30px;font-weight: 600;}
#register .register .logo {width: 100%;padding: 20px 0;text-align: center;background: #334a48;margin-bottom: 10px;}
#register .register .logo img {width: 100%;max-width: 170px;}

.copyright {width: 100%;padding: 25px 0;text-align: center;}